.app-logo {
    font-size: 54px;
    position: relative;
    bottom: -0.2em;
}

.logo{
      width: 2em;
}

.btn .material-icons {
    font-size: 3em;
}
  
.container-fluid {
    position: relative;
    top: 5em;
}