<div class="social-line">
  <a 
    (click)="onFacebookLogin()"
    href="javascript:void(0)" 
    class="btn btn-just-icon btn-link btn-white">
    <i class="fa fa-facebook-square"></i>
  </a>
  <a
    (click)="onGithubLogin()" 
    href="javascript:void(0)" 
    class="btn btn-just-icon btn-link btn-white">
    <i class="fa fa-twitter"></i>
  </a>
  <a 
    (click)="onGoogleLogin()"
    href="javascript:void(0)" class="btn btn-just-icon btn-link btn-white">
    <i class="fa fa-google-plus"></i>
  </a>
</div>