
<div class="wrapper">
    <div *ngIf="(isMobileMenu() && isNotAuthenticated) || isAdminEmail" id="sidebar" class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar 
            (logout)="onLogout()"
        ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div> 
    <div class="main-panel">
        <app-navbar 
            [displayName]="displayName$ | async"
            (logout)="onLogout()"
        >
        </app-navbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <footer></footer>
    </div>
</div> 