<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title ">Users Table</h4>
      <p class="card-category"> Manage User here</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="input-group no-border w-25">
          <input type="text" name="query" class="form-control" [(ngModel)]="searchQuery" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
          </button>
        </div>
        <table class="table">
          <thead class=" text-primary">
            <th> # </th>
            <th> Name </th>
            <th> Email </th>
            <!-- <th> Role </th> -->
            <th> Login Medium </th>
            <th> Date Created</th>
            <th> Last Updated </th>
            <th> Action </th>
          </thead>
          <tbody>
              <tr *ngFor="let user of users | filter: searchQuery; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ user.displayName }}</td>
                <td>{{ user.email }}</td>
                <!-- <td>{{ (user.role | doc | async)?.name }}</td> -->
                <!-- <td>{{ (user.role }}</td> -->
                <td>{{ user.signInMethod }}</td>
                <td>{{ user.createdDate.toDate() | date: 'dd/MMM/yyyy' }}</td>
                <td>{{ user.updatedDate.toDate() | date: 'dd/MMM/yyyy' }}</td>
                <td>
                  <button 
                    mat-raised-button  
                    matTooltip="Edit" 
                    [matTooltipPosition]="'above'" 
                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                  </button>
                  <button 
                    mat-raised-button 
                    matTooltip="Delete" 
                    [matTooltipPosition]="'above'" 
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>